--- Daily Stats ---

Date: {date}
Users: {users}
Total # of ratings: {ratings}

Mean rating: {mean_rating:.3f}
Median rating: {median_rating:.3f}
Min. rating: {min_rating:.3f}
Max. rating: {max_rating:.3f}

Mean number of jokes rated by a user: {mean_number_of_jokes_rated:.3f}
Median number of jokes rated by a user: {median_number_of_jokes_rated:.3f}
Min. number of jokes rated by a user: {min_number_of_jokes_rated:.3f}
Max. number of jokes rated by a user: {max_number_of_jokes_rated:.3f}

Jokes with highest mean rating:
{top_rated_joke_1}
{top_rated_joke_2}
{top_rated_joke_3}
{top_rated_joke_4}
{top_rated_joke_5}
{top_rated_joke_6}
{top_rated_joke_7}
{top_rated_joke_8}
{top_rated_joke_9}
{top_rated_joke_10}

Jokes with highest variance:
{top_variance_joke_1}
{top_variance_joke_2}
{top_variance_joke_3}
{top_variance_joke_4}
{top_variance_joke_5}
{top_variance_joke_6}
{top_variance_joke_7}
{top_variance_joke_8}
{top_variance_joke_9}
{top_variance_joke_10}



